<span class="{{chip.cssClass}}">
  <span class="scv-badge__clip"></span>
  <span class="scv-badge__label">{{chip.text}}</span>
  {{#each embers as |style|}}
  <i class="scv-ember" style="{{style}}"></i>
  {{/each}}
</span>
