<div class="bonus-preview">
  {{#each preview.attributes as |chip|}}
  {{> "systems/scuvanya/templates/apps/parts/badge.hbs" chip=chip embers=../embers}}
  {{/each}}
  {{#each preview.skills as |chip|}}
  {{> "systems/scuvanya/templates/apps/parts/badge.hbs" chip=chip embers=../embers}}
  {{/each}}
  {{#each preview.resistances as |chip|}}
  {{> "systems/scuvanya/templates/apps/parts/badge.hbs" chip=chip embers=../embers}}
  {{/each}}
  {{#each preview.extra as |chip|}}
  {{> "systems/scuvanya/templates/apps/parts/badge.hbs" chip=chip embers=../embers}}
  {{/each}}
</div>
